.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: auto;
    padding: 0;
    background-image: url(https://s1.hostingkartinok.com/uploads/images/2022/10/0f7d5623e25982e18997111382cc399c.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}